<div class="row">
  <section class="main col-md-12">
    <article>
      <h2>About</h2>

      <p>This app loads data from the Postgres database and displays it in user-friendly tables.<br />
      Additionally, this app allows the user to add new employees and departments to the database, as well as update existing entries.<br/>
      The user may also upload new images and view previously uploaded-images via the <span style="font-weight:bold;">Images</span> page.</p>

      <p>
        To view data on all employees, navigate to the <span style="font-weight:bold;">Employees</span> page.<br />
        Employee data may be filtered by clicking on any of the highlighted fields.
        Data may be filtered by:
        <ul>
          <li>Employee's Status</li>
          <li>Department</li>
          <li>Employee's Manager Number</li>
        </ul>
        
        To view and/or update a specific employee's data, simply click on their name.
      </p>
      
      <p>For data on our departments, go to the <span style="font-weight:bold;">Departments</span> page.<br />
      To view and/or update a specific department's data, click on its name.</p>

    </article>
  </section>
</div>