<!-- contents of "container" div -->

      <div class="row">

        <aside class="col-md-3">

          <h2>Coming Soon</h2>

          <p>Side-Panel coming soon to an assignment near you.</p>

        </aside>

        <section class="main col-md-9">

          <article>

          <h2>Welcome</h2>

          <p>Hello!<br />Welcome to Arryell's BTI325 Server App!</p>

          <p>For more information on how to use this app, please see the <span style="font-weight:bold;">About</span> page!</p>
          <br />
          <p style="font-style:italic;">To view a page, simply click its button in the navigator bar (located at the top of the screen).</p>
          
          </article>

        </section>

      </div>